[Desktop Entry]
Type=Application
Exec=setxkbmap {{ keyboard_layout_type_default }}
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=keyboard layout type change
Name=keyboard layout type change
Comment[en_US]=
Comment=
